/*! concrete.css v0.0.2 | MIT License | github.com/louismerlin/concrete.css */

/* The Basics */

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 2.2rem;
  font-weight: 400;
  font-family: 'Chivo', sans-serif;
}

*, ::after, ::before {
  box-sizing: inherit;
}

a {
  color: black;
}

/* A cool container */

.container {
  margin: 0 auto;
  max-width: 80rem;
  width: 100%;
  padding: 0 1rem;
}

/* The Button */

button {
  border-radius: 0;
  background: white;
  border: 0.2rem solid black;
}

button.filled {
  color: white;
  background: black;
}

/* The List */

ul {
  list-style: square;
}

/* The Form */

/* TODO */

/* The Table */

table {
  width: 100%;
  border-spacing: 0;
}

td, th {
  padding: 0.6rem 0;
}

td {
  border-bottom: 0.1rem solid black;
}

th {
  border-bottom: 0.2rem solid black;
  text-align: left;
}

/* The Blockquote and the Code */

blockquote, pre {
  border-left: 0.3rem solid black;
  margin-left: 0;
  margin-right: 0;
  padding: 1rem 1.5rem;
  overflow-y: hidden;
}

pre>code {
  padding: 1rem 1.4rem;
  font-size: 1.6rem;
  white-space: pre;
  display: block;
}