/*! concrete.css v0.0.1 | MIT License | github.com/louismerlin/concrete.css */

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 2.4rem;
  font-weight: 400;
  font-family: 'Chivo', sans-serif;
}

*, ::after, ::before {
  box-sizing: inherit;
}

.container {
  margin: 0 auto;
  max-width: 80rem;
  width: 100%;
  padding: 0 1rem;
}

button {
  border-radius: 0;
  background: white;
  border: 0.2rem solid black;
}

button.is-filled {
  color: white;
  background: black;
}

a {
  color: black;
}

blockquote {
  border-left: 0.3rem solid black;
  margin-left: 0;
  margin-right: 0;
  padding: 1rem 1.5rem;
}
